/* -- Desktop -- */
@media (max-width: 1200px) {
}

/* -- Tablet -- */
@media screen and (max-width: 1100px) {
}

/* 모바일 가로 & 테블릿 세로 */
@media screen and (max-width: 768px) {
  /* common */
  :root {
    --font-size-h0: 6rem;
    --font-size-h1: 4rem;
    --font-size-h3: 3.8rem;

    --font-size-xs: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-sl: 1.6rem;
    --font-size-md: 2rem;
    --font-size-lg: 2.4rem;
    --font-size-xl: 3.6rem;
  }
}

/* 모바일 360 이하 */
/* 모바일 세로*/
@media screen and (max-width: 360px) {
}
