/* -- Desktop -- */
@media (max-width: 1200px) {
  .wrap {
    padding: 0 3rem;
  }
  .section-security .wrap .content-wrap .style-type-01 ul::after {
    width: 702px;
    left: 165px;
  }
  .fadeUp {
    opacity: 1 !important;
    transform: translate(0, 0);
  }
}

/* -- Tablet -- */
@media screen and (max-width: 1100px) {
  body {
    overflow-x: hidden !important;
  }
  .fp-enabled {
    overflow: auto !important;
    height: auto !important;
  }
  /* common */
  header:hover {
    height: 8rem;
    background: none;
  }
  header:hover::before {
    display: none;
  }
  nav {
    width: auto;
  }
  nav > ul {
    display: none;
  }
  .btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  main .wrap .main-tit p br {
    display: block;
  }
  .fp-viewing-1 header,
  .fp-viewing-2 header,
  .fp-viewing-3 header,
  .fp-viewing-4 header {
    background: none;
  }
  .fp-viewing-1 header nav > ul > li > a,
  .fp-viewing-2 header nav > ul > li > a,
  .fp-viewing-3 header nav > ul > li > a,
  .fp-viewing-4 header nav > ul > li > a {
    color: none;
  }
  .fp-viewing-1 header nav > ul > li:hover > a,
  .fp-viewing-2 header nav > ul > li:hover > a,
  .fp-viewing-3 header nav > ul > li:hover > a,
  .fp-viewing-4 header nav > ul > li:hover > a {
    color: none;
    font-weight: normal;
  }
  .content-wrap {
    margin-top: 10rem;
  }
  .footer-wrap {
    padding: 15% 0;
  }
  .footer-wrap .wrap .ft-text .txt-wrap .txt-line br {
    display: block;
  }
  .footer-wrap .wrap .ft-text .sub-txt {
    margin-top: 8rem;
  }
  .footer-wrap .wrap .ft-text .sub-link a {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-wrap .wrap .ft-text .txt-wrap .txt-line span {
    font-size: 14px;
    line-height: 20px;
  }
  /* table-circle */
  .table-circle > ul {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 30px;
  }
  .table-circle > ul > li {
    justify-content: flex-start;
  }
  .table-circle > ul > li:last-child {
    display: none;
  }
  .table-circle > ul > li .text-box {
    width: calc(100% - 180px);
  }
  .table-circle > ul > li:nth-child(2n) .icon-box {
    margin-right: 30px;
    margin-left: 0;
  }
  .table-circle > ul > li:nth-child(2n) .text-box {
    margin-left: 0;
  }
  .table-circle > ul > li:nth-child(odd) .text-box {
    text-align: left;
    margin-right: 0;
  }
  .table-circle > ul > li:nth-child(odd) {
    flex-direction: unset;
  }
  .table-circle > ul > li .icon-box::before {
    display: none;
  }
  .table-circle > ul > li .icon-box::after {
    display: none;
  }
  .table-circle > ul.circle-3 {
    grid-template-rows: auto;
  }
  .table-circle > ul.circle-3 > li:nth-child(2) {
    grid-area: auto;
  }
  .table-circle > ul.circle-3 > li:nth-child(3) {
    grid-area: auto;
  }
  .table-circle > ul.circle-4 {
    grid-template-rows: 15rem 15rem;
  }

  /* sub-section */
  .sub-section .sub-link > ul {
    display: inline-block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
  }
  .sub-section .sub-link > ul li {
    display: inline-block;
  }
  .sub-section .sub-link {
    margin-top: 4rem;
    margin-bottom: 12rem;
  }
  .style-type-01 ul {
    display: inline-block;
    width: 100%;
  }
  .style-type-01 ul li {
    padding: 5rem 3rem;
  }
  .style-type-01 ul li:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 2rem;
  }

  /* style type  */
  .style-type-02 ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .style-type-03 {
    display: inline-block;
  }
  .style-type-03 .img-box {
    text-align: center;
  }
  .style-type-03 .txt-box {
    margin-top: 5rem;
  }
  .style-type-04 ul {
    display: inline-block;
    width: 100%;
  }
  .style-type-04 ul li:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 2rem;
  }
  .section-theclient .wrap .content-wrap .txt-type-03 {
    margin-top: 5rem;
  }

  /* section 01 */
  .section01 {
    padding: 15% 0 15% 0 !important;
    height: auto !important;
    background-position: 50% 5%;
    background-size: 400% 400%;
  }
  .fp-section.active.section01 {
    animation: none;
  }
  .fp-section.active .wrap .tit-box {
    animation: none;
  }
  .fp-section.active .wrap .contant-wrap {
    animation: none;
  }
  .section01 .wrap .tit-box {
    position: relative;
  }
  .section01 .wrap .tit-box .quotes-box:nth-child(1) {
    left: 0;
    top: 0;
  }
  .section01 .wrap .tit-box .quotes-box:nth-child(3) {
    right: 0;
    bottom: 0;
  }
  .section01 .wrap .tit-box .main-text {
    width: 100%;
    padding: 3rem 5.6rem;
  }
  .quotes-box {
    position: absolute;
  }
  .section01 .wrap .tit-box .main-text p br {
    display: none;
  }
  .section01 .wrap .contant-wrap ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
  .section01 .wrap .contant-wrap ul li {
    width: auto;
  }
  .section01 .wrap .contant-wrap ul li {
    background-color: #ffffff70;
    border-radius: 20px;
    box-shadow: 0 0 0 1px #bdbdbd inset;
  }
  .section01 .wrap .contant-wrap ul li .txt-box p {
    color: var(--color-primary);
  }
  .section01 .wrap .contant-wrap ul li .txt-box p::before {
    content: "";
    width: 106%;
    height: 1.5rem;
    background-color: #ff905050;
    display: inline-block;
    position: absolute;
    bottom: 0%;
    left: -3%;
    z-index: -1;
    animation: animate--underLine 0.5s ease-in-out;
  }

  /* section 02 */
  .section02 {
    padding: 15% 0 0 0 !important;
    height: auto !important;
    background-position: 50% 46%;
    background-size: 400% 400%;
  }
  .fp-section.active.section02 {
    animation: none;
  }
  .section02 .content-wrap {
    height: auto;
    padding: 5rem 0 15%;
  }
  .section02 .content-wrap .wrap {
    display: inline-block;
    width: 100%;
  }
  .section02 .content-wrap .wrap .content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }
  .fp-section.active.section02 .content-wrap .wrap .content-box {
    animation: none;
  }
  .section02 .content-wrap .wrap .content-box .content-line {
    width: 100%;
  }
  .section02 .content-wrap .wrap .content-box .content-line .img {
    text-align: center;
  }
  .section02 .content-wrap .wrap .content-box .content-line .img img {
    width: 80%;
    height: 80%;
  }
  .section02 .content-wrap .wrap .content-box .content-line:nth-child(2n) {
    margin-top: 0;
  }

  /* section 03 */
  .section03 {
    height: auto !important;
    background-position: 50% 75%;
    background-size: 400% 400%;
  }
  .fp-section.active.section03 {
    animation: none;
  }
  .section03 .content-wrap {
    padding-top: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 15% 0;
  }
  .section03 .content-wrap .wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .section03 .content-wrap .wrap .txt-box {
    width: auto;
    grid-column: auto;
    order: 1;
  }
  .section03 .content-wrap .wrap .txt-box .tit {
    text-align: center;
  }
  .section03 .content-wrap .wrap .table-wrap {
    grid-row: auto;
    order: 3;
    margin-top: 4rem;
  }
  .section03 .content-wrap .wrap .table-wrap table caption {
    display: none;
  }
  .table-wrap table tbody tr {
    font-size: var(--font-size-sl);
    line-height: var(--font-size-md);
  }
  .section03 .content-wrap .wrap .img-box {
    grid-row: auto;
    background: none;
    width: 100%;
    height: auto;
    order: 2;
    margin-top: 4rem;
  }
  .section03 .content-wrap .wrap .img-box .radio-map label {
    position: relative;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
  }
  .radio-map label input[type="radio"] {
    border: 1px solid #000;
    width: 100%;
    height: 5rem;
    border-radius: 999px;
    background: #fff;
  }
  .radio-map label input[type="radio"]:checked {
    border: none;
  }
  .radio-map label input[type="radio"]:checked ~ span {
    color: #fff;
  }
  .radio-map label span {
    display: inline-block;
    font-size: var(--font-size-sl);
    line-height: var(--font-size-md);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
  }
  .section03 .content-wrap .wrap .img-box .radio-map {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 3rem;
    grid-row-gap: 1rem;
    grid-column-gap: 3rem;
  }

  /* footer */
  footer .wrap {
    width: 100%;
  }
  .contact-wrap {
    padding: 10% 0;
  }
  contact-wrap .wrap h3 {
    font-size: var(--font-size-h3);
    line-height: var(--font-size-h3);
  }
  .contact-wrap .wrap h3 br {
    display: block;
  }
  .footer-wrap {
    padding: 10% 0;
    display: flex;
    justify-content: center;
  }
  .footer-wrap .wrap {
    display: inline-block;
  }
  .footer-wrap .wrap .ft-logo {
    justify-content: center;
  }
  .footer-wrap .wrap .ft-text {
    margin-top: 5rem;
  }
  .ico-line-02 {
    margin: 0 1rem;
  }
  .footer-wrap .wrap .ft-text .sub-link {
    justify-content: center;
  }
  .footer-wrap .wrap .ft-text .txt-wrap .txt-line {
    justify-content: center;
  }
  .footer-wrap .wrap .ft-text .sub-txt {
    margin-top: 10rem;
  }
  .footer-wrap .wrap .ft-text .sub-txt p {
    font-size: var(--font-size-xs);
    text-align: center;
  }
  .select_wrap {
    display: none;
  }
  .footer-wrap .wrap .ft-text .sub-txt p br {
    display: block;
  }

  /* section-intro */
  .section-intro .wrap .txt-type-01 h3 br {
    display: none;
  }
  .section-intro .wrap .txt-type-01 p br {
    display: none;
  }
  .section-intro .wrap .table-wrap table {
    width: 100%;
  }

  /* section-greeting */
  .section-greeting .wrap .content-box {
    display: inline-block;
  }
  .section-greeting .wrap .content-box .img-wrap {
    width: 100%;
    margin-right: 0;
  }
  .section-greeting .wrap .content-box .txt-wrap {
    width: 100%;
    margin-top: 5rem;
  }
  .section-greeting .wrap .content-box .txt-wrap .txt-type-02 {
    text-align: center;
    position: initial;
  }
  .section-greeting .wrap .content-box .txt-wrap p {
    padding-top: 3rem;
    text-align: center;
  }
  .section-greeting .wrap .sign-box {
    text-align: center;
    margin-top: 4rem;
  }

  /* section-history */
  .section-history .wrap .content-box {
    display: inline-block;
    width: 100%;
  }
  .section-history .wrap .content-box .txt-type-02 {
    width: 100%;
  }
  .section-history .wrap .content-box .txt-wrap {
    width: 100%;
    margin-top: 3rem;
  }
  .section-history .wrap .content-box:nth-child(n + 2) {
    margin-top: 10rem;
  }
  .section-history .wrap .content-box .txt-wrap::before {
    height: 128%;
    top: 34px;
  }
  .section-history .wrap .content-box .txt-wrap .txt-date p::before {
    top: 30px;
  }
  .section-history .wrap .content-box .txt-wrap {
    padding-left: 3rem;
  }

  /* section-directions */
  .section-directions .wrap .content-box {
    display: inline-block;
    width: 100%;
  }
  .section-directions .wrap .content-box .img-box {
    width: 100%;
  }
  .section-directions .wrap .content-box .content-txt {
    width: 100%;
    margin-top: 5rem;
  }
  .section-directions .wrap .content-box .content-txt .table-wrap {
    margin-top: 5rem;
  }
  .section-directions .wrap .map-wrap {
    margin-top: 10rem;
  }
  .section-directions .wrap .map-wrap iframe {
    height: 500px;
  }
  .section-directions .wrap .map-wrap .map-txt {
    margin-top: 3rem;
  }
  /* section-network */
  .section-network .wrap .content-wrap {
    margin-top: 12rem;
  }
  /* section-security */
  .section-security .wrap .content-wrap .style-type-01 ul::after {
    display: none;
  }
  .section-security .wrap .content-wrap .style-type-01 ul li::after {
    display: none;
  }
  .section-security .wrap .content-wrap .style-type-01 {
    margin-top: 3rem;
  }
  .section-security .wrap .content-wrap .circle-box .circle-icon::after {
    height: 280%;
  }
  /* section-maintenance */
  .section-maintenance {
    padding-bottom: 10rem !important;
  }
  .section-maintenance .wrap .txt-type-01 h3 br {
    display: none;
  }
  .section-maintenance .wrap .content-wrap {
    margin-top: 8rem;
  }

  /* section-theclient */
  .section-theclient .wrap .content-wrap .color-arrow {
    margin: 5rem 0;
  }
  .section-theclient .wrap .content-wrap .style-type-04 {
    margin-top: 10rem;
  }
  /* section-genianedr */
  .section-geniannac .wrap .content-wrap .table-circle {
    margin-top: 10rem;
  }
  .section-genianedr .wrap .content-wrap .table-circle {
    margin-top: 10rem;
  }
  .section-genianedr .wrap .content-wrap .txt-type-03 h3 br {
    display: none;
  }

  .section-kxnetg .wrap .content-wrap .kx-content h3 {
    font-size: 40px;
    line-height: 60px;
  }
  .style-type-05 ul {
    grid-gap: 3rem;
  }
}

/* 모바일 가로 & 테블릿 세로 */
@media screen and (max-width: 768px) {
  /* common */
  :root {
    --font-size-h0: 6rem;
    --font-size-h1: 4rem;
    --font-size-h3: 3.8rem;

    --font-size-xs: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-sl: 1.6rem;
    --font-size-md: 2rem;
    --font-size-lg: 2.4rem;
    --font-size-xl: 3.6rem;
  }
  .wrap {
    padding: 0 2rem;
  }
  header {
    height: 6rem;
  }
  header:hover {
    height: auto;
  }
  .logo-box {
    height: 6rem;
  }
  .logo-box a img {
    content: url(../img/common/logo_01_S.png);
  }
  .ico-nav {
    width: 2.4rem;
    height: 2.4rem;
  }
  .ico-nav i {
    height: 2px;
  }
  .ico-nav i:nth-child(2),
  .ico-nav i:nth-child(3) {
    top: 10px;
  }
  .ico-nav i:nth-child(4) {
    top: 20px;
  }
  .nav-mobile .content-box {
    padding: 60px 0;
  }
  .nav-mobile .content-box > ul > li {
    padding: 2rem;
  }
  .icon-color-arrow {
    width: 70px;
    height: 90px;
    background-size: 68px;
    background-repeat: no-repeat;
  }
  .sub-nav ul li:nth-child(n + 2) {
    margin-left: 2rem;
  }

  /* conteact wap common */
  .contact-wrap .wrap p br {
    display: none;
  }
  .sub-section ~ section {
    padding-bottom: 10rem;
  }

  .sub-section .inner-link > ul li a {
    font-size: 14px;
    line-height: 18px;
  }
  .sub-section .inner-link > ul li .home {
    width: 1.8rem;
    height: 1.8rem;
  }
  .sub-section .inner-link > ul li .home .ico24 {
    width: 1.8rem;
    height: 1.8rem;
    background-size: 36px;
  }

  /* table circle */
  .table-circle > ul {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
  }
  .table-circle > ul > li {
    justify-content: flex-start;
  }
  .table-circle > ul > li .text-box {
    width: calc(100% - 180px);
    gap: 20px;
  }
  .table-circle > ul.circle-6 {
    grid-template-rows: 15rem 15rem 15rem;
  }

  /* txt type */
  .txt-type-01 .ico-line-01 {
    margin: 5rem 0;
  }

  .error-box img {
    width: 50%;
  }
  .error-box h3 {
    margin-top: 3rem;
    font-size: 24px;
    line-height: 36px;
  }
  .error-box p {
    margin-top: 2rem;
  }
  .error-box p br {
    display: none;
  }
  .input-type-01 {
    padding: 12px 15px;
  }
  .filebox .upload-input {
    padding-left: 130px;
  }
  .filebox label {
    padding: 6px 20px;
    left: 15px;
  }

  /* stype type */
  .style-type-03 .img-box img {
    width: 100%;
  }
  .style-type-03 .txt-box a .ico-download {
    width: 24px;
    height: 24px;
    background-size: 48px;
  }
  .style-type-03 .txt-box a:hover .ico-download {
    background-position: -24px 0px;
  }
  .style-type-04 ul li {
    padding: 3rem;
  }
  .style-type-05 ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .style-type-05 ul {
    grid-gap: 3rem;
  }

  /* main */
  main .wrap .main-tit h1 .slider-box {
    height: 6rem;
  }
  .sub-section .sub-link ul li a {
    width: 12rem;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sub-section .sub-link ul li:nth-child(n + 2) {
    margin-left: 1rem;
  }

  /* section 01 */
  .quotes-box {
    width: 4rem;
    height: 2.8rem;
  }
  .quotes-box i {
    width: 4rem;
    height: 2.8rem;
    background-size: 82px;
  }
  .ico-quotes-right {
    background-position: -44px 0px;
  }
  .section01 .wrap .tit-box .main-text {
    padding: 2.5rem 4rem;
  }
  .section01 .wrap .contant-wrap ul {
    margin-top: 4rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  /* section 03 */
  .section03 .content-wrap .wrap .img-box {
    margin-top: 3rem;
  }
  .section03 .content-wrap .wrap .img-box .radio-map {
    grid-column-gap: 1rem;
  }
  .radio-map label input[type="radio"] {
    height: 4rem;
  }
  .section03 .content-wrap .wrap .table-wrap {
    margin-top: 3rem;
  }

  /* section-intro */
  .section-intro .wrap .txt-type-02 {
    margin-top: 10rem;
  }
  /* section-greeting */
  .section-greeting .wrap .content-box .img-wrap img {
    height: 40rem;
  }
  .section-greeting .wrap .sign-box img {
    width: 150px;
  }

  /* section chart */
  .section-chart .wrap .content-box .chart-img img {
    content: url(../img/company/img\ 05.png);
  }

  /* section dorections */
  .section-directions .wrap .content-box .img-box img {
    height: 40rem;
  }
  .section-directions .wrap .content-box .content-txt .table-wrap {
    margin-top: 3rem;
  }
  .section-directions .wrap .map-wrap .map-txt .map-line > span {
    width: 24px;
    height: 24px;
  }
  .section-directions .wrap .map-wrap {
    margin-top: 5rem;
  }
  .section-directions .wrap .map-wrap .map-txt .map-line > span .ico-car {
    background-size: 48px;
    width: 24px;
    height: 24px;
  }
  .ico-car.bus {
    background-position: -24px 0px;
  }
  .section-directions .wrap .map-wrap .map-txt .map-line .txt {
    width: calc(100% - 24px);
    margin-left: 1rem;
  }
  .section-directions .wrap .map-wrap .map-txt .map-line:nth-child(n + 2) {
    margin-top: 2rem;
  }

  /* section inquiry */
  .section-inquiry .wrap .input-wrap .input-box {
    display: inline-block;
  }
  .section-inquiry .wrap .input-wrap .input-box .input-line:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 20px;
  }
  .section-inquiry .wrap .input-wrap .input-box:nth-child(n + 2) {
    margin-top: 20px;
  }
  .section-inquiry .wrap .input-wrap .checkbox-line {
    margin-top: 5rem;
  }
  .section-inquiry .wrap .input-wrap {
    margin-top: 12rem;
  }
  .section-inquiry .wrap .inquiry-btn {
    margin-top: 8rem;
  }

  /* section the client */
  .section-theclient .wrap .content-wrap .client-img:nth-child(1) {
    content: url(../img/product/img_07.png);
    width: 100%;
  }
  .section-theclient .wrap .content-wrap .client-img:nth-child(3) {
    content: url(../img/product/img_08.png);
    width: 100%;
  }

  /* section tifront */
  .section-tifront .wrap .content-wrap .color-arrow {
    margin: 5rem 0;
  }

  /* section kxnetg */
  .section-kxnetg .wrap .content-wrap .style-type-01 ul li {
    padding: 3rem;
  }
  .section-kxnetg .wrap .content-wrap .color-arrow {
    margin: 5rem 0;
  }
  .section-kxnetg .wrap .content-wrap .style-type-04 {
    margin-bottom: 10rem;
  }
  .section-kxnetg .wrap .content-wrap .kx-content {
    margin-top: 10rem;
  }

  /*  */
  .section-geniannac .wrap .content-wrap .genian-img img {
    content: url(../img/product/img_14.png);
  }
  .section-genianedr .wrap .content-wrap .genian-img img {
    content: url(../img/product/img_13.png);
  }
  .section-geniannac .wrap .content-wrap .style-type-01 {
    margin-top: 4rem;
  }
  .section-geniannac .wrap .content-wrap .table-circle {
    margin-top: 10rem;
  }
}

/* 모바일 세로*/
@media screen and (max-width: 480px) {
  :root {
    --font-size-h1: 3.6rem;
    --font-size-h3: 3rem;
    --font-size-xs: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-sl: 1.6rem;
    --font-size-md: 1.8rem;
    --font-size-lg: 2.4rem;
    --font-size-xl: 3rem;
  }

  /* main */
  main .wrap .main-tit p br {
    display: none;
  }
  .content-wrap {
    margin-top: 10rem;
  }
  .section01 .wrap .tit-box .main-text p {
    font-size: 16px;
    line-height: 20px;
  }
  .table-circle > ul > li .text-box ul li {
    font-size: 14px;
    line-height: 16px;
  }

  /* section 02 */
  .section02 .content-wrap .wrap .content-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .section02 .content-wrap .wrap .content-box .content-line .img img {
    width: 70%;
    height: 70%;
  }

  /* section 03 */
  .section03 .content-wrap .wrap .img-box .radio-map {
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }

  /* style-type */
  .style-type-01 ul li {
    padding: 3rem;
  }
  .style-type-05 ul {
    grid-gap: 2rem;
  }

  /* circle table */
  .table-circle > ul > li .icon-box {
    width: 12rem;
    height: 12rem;
  }
  .table-circle > ul > li .icon-box > i {
    width: 6rem;
    height: 6rem;
  }
  .table-circle > ul.circle-4 > li .icon-box > i {
    width: 6rem;
    height: 6rem;
  }
  .table-circle > ul.circle-4 > li .icon-box {
    padding: 15px;
  }
  .table-circle > ul > li:nth-child(2n) .icon-box {
    margin-right: 2rem;
  }
  .table-circle > ul > li:nth-child(odd) .icon-box {
    margin-right: 2rem;
  }
  .table-circle > ul > li .text-box {
    width: calc(100% - 160px);
  }
  .table-circle > ul {
    grid-template-rows: 12rem 12rem 12rem !important;
  }

  /* section history */
  .section-history .wrap .content-box .txt-wrap::before {
    top: 25px;
  }
  .section-history .wrap .content-box .txt-wrap .txt-date p::before {
    top: 26px;
  }
  /* section theclient */
  /* section tifront */
  .section-tifront .wrap .content-wrap .color-arrow {
    margin: 5rem 0;
  }
  /* section kxnetg */
  .section-kxnetg .wrap .content-wrap .style-type-04 {
    margin-bottom: 10rem;
  }
  .section-kxnetg .wrap .content-wrap .color-arrow {
    margin: 5rem 0;
  }
  .section-kxnetg .wrap .content-wrap .txt-type-03 h3 br {
    display: none;
  }
  .section-kxnetg .wrap .content-wrap .kx-content h3 {
    font-size: 36px;
    line-height: 48px;
  }
  .section-security .wrap .content-wrap .circle-box .circle-icon i span {
    margin-top: 8rem;
  }
}

/* 모바일 360 이하 */
/* 모바일 세로*/
@media screen and (max-width: 360px) {
  main .wrap .main-tit h1 {
    font-size: 36px;
  }
  main .wrap .main-tit h1 .slider-box {
    height: 5.4rem;
  }
  main .wrap .main-tit p br {
    display: none;
  }
  .table-wrap table tbody tr {
    font-size: 16px;
    line-height: 20px;
  }
  .footer-wrap .wrap .ft-text .sub-link a {
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sl);
  }
  .footer-wrap .wrap .ft-text .txt-wrap .txt-line {
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sl);
  }
  .section-history .wrap .content-box .txt-wrap::before {
    height: 126%;
  }
}
