/* -- Desktop -- */
@media (max-width: 1200px) {
  body {
    border: 3px solid red;
  }
  .wrap {
    padding: 0 30px;
  }
  #main main .wrap .main-tit {
    left: 30px;
  }
  .grid_type_03 .box p {
    font-size: var(--font-size-sl);
    line-height: var(--font-height-sl);
  }
}

/* -- Tablet -- */
@media screen and (max-width: 1100px) {
  :root {
    --font-size-h1: 50px;

    --font-height-h1: 60px;
  }

  html {
    overflow: auto !important;
  }
  body {
    border: 3px solid orange;
    overflow-x: hidden !important;
    font-family: sans-serif !important;
  }
  nav > ul {
    display: none;
  }
  footer {
    padding: 50px 0 !important;
  }
  footer .wrap .content_box {
    display: inline-block;
  }
  footer .wrap .content_box .ft_info {
    margin-top: 30px;
  }
  footer .wrap .ft_info .text {
    margin-top: 30px;
  }
  footer .wrap .content_box:nth-child(n + 2) {
    margin-top: 30px;
  }
  footer .wrap .content_box:nth-child(n + 2) .text {
    margin-top: 20px;
  }
  .scroll-box {
    display: none;
  }

  /* main */
  #main main {
    height: 80vh !important;
  }
  #main section {
    height: auto !important;
    padding: 100px 0 !important;
  }
  #main .section03 .wrap .imgbox_wrap li .img img,
  #main .section03 .wrap .imgbox_wrap li {
    height: 200px;
  }
  #main .section03 .wrap .imgbox_wrap li:nth-child(2n) .sub_text {
    padding: 10px 40px;
  }
  #main .section04 .wrap .grid_table_01 {
    display: inline-block;
    width: 100%;
  }
  #main .section05 .img_box {
    display: inline-block;
    text-align: center;
  }
  #main .section05 .img_box p {
    margin-left: 0;
  }
  #main main .wrap .main-tit {
    bottom: 40px;
  }

  /* news page */
  #news .new_list ul {
    grid-template-columns: repeat(1, 1fr);
  }
  /* conatct page */
  #contact .map_list ul {
    display: inline-block;
    width: 100%;
  }
  #contact .map_list ul li iframe {
    width: 100%;
    height: 400px;
  }
  #contact .map_list ul li:last-child {
    margin-left: 0;
    margin-top: 80px;
  }

  #platform .list_content_box .list02 .tit_type_02 {
    margin-top: 30px;
  }
  #platform .list_content_box .list02 .img_type_02 .txt_box {
  }

  .new_list ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .new_list ul li {
    display: inline-block;
  }
  .new_list ul li .img_box {
    width: 100%;
  }
  .new_list ul li .img_box img {
    width: 100%;
  }
  .new_list ul li .text_box {
    width: 100%;
    margin-top: 10px;
  }

  /* common */
  .table_type_01 table {
    width: 100%;
  }

  .grid_table_01 {
    display: inline-block;
    width: 100%;
  }
  .type_01 {
    width: 100%;
    height: auto;
  }
  .grid_table_01 .type_01:nth-child(2) {
    margin-top: 20px;
  }
  .type_01::after {
    display: none;
  }
  .type_02 {
    display: inline-block;
    width: 100%;
    margin: 30px 0;
  }
  .type_02 .tit p {
    text-align: center;
  }
  .type_02 .sub {
    position: static;
    margin-top: 20px;
  }
  .type_02::after {
    display: none;
  }
  .type_03 {
    margin-left: 0;
  }
  .type_03 .box::after {
    display: none;
  }
  .type_03 .box:nth-child(n + 2) {
    margin-top: 10px;
  }
  .type_03::after {
    display: none;
  }

  .people_list ul li .img_box {
    width: 30%;
  }
  .people_list ul li .text_box {
    width: 50%;
    margin-left: 50px;
  }
  .img_type_01 {
    display: inline-block;
  }
  .img_type_01 .img_box {
    width: 100%;
  }
  .img_type_01 .img_box img {
    height: 350px;
  }
  .img_type_01 .txt_box {
    width: 100%;
    margin-top: 30px;
    text-align: left !important;
  }
  .img_type_01 div:first-child {
    margin-right: 0;
  }

  .img_type_02 {
    display: inline-block;
  }
  .img_type_02.right .img_box {
    margin: 0;
  }
  .img_type_02 .img_box {
    text-align: center;
  }
  .img_type_02 .txt_box {
    text-align: left !important;
  }
  .img_type_02 .img_box img {
    width: 100% !important;
    height: auto;
  }

  .btn-menu {
    display: block;
  }
  .infinite_content .infinite_wrap {
    margin: 10% 0 0 0;
  }
  .infinite_content .icon_wrap > div {
    width: 13%;
  }
  .infinite_content .icon_wrap .data,
  .infinite_content .icon_wrap .care {
    left: 18%;
  }
  .infinite_content .icon_wrap .treatment,
  .infinite_content .icon_wrap .diagnosis {
    right: 16%;
  }
}

/* 모바일 가로 & 테블릿 세로 */
@media screen and (max-width: 768px) {
  body {
    border: 3px solid yellow;
  }
  .wrap {
    padding: 0 20px;
  }
  :root {
    --font-size-h1: 24px;
    --font-size-h2: 20px;

    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sl: 14px;
    --font-size-sm: 10px;

    --font-height-h1: 30px;
    --font-height-h2: 28px;

    --font-height-lg: 24px;
    --font-height-md: 20px;
    --font-height-sl: 18px;
    --font-heightize-sm: 14px;
  }
  /* common */
  .logo-box a img {
    width: 80px;
  }
  footer .wrap .logo_box img {
    width: 100px;
  }
  footer .wrap .ft_info ul {
    display: none;
  }
  .ico-nav {
    width: 24px;
    height: 24px;
  }
  .ico-nav i:nth-child(2),
  .ico-nav i:nth-child(3) {
    top: 10px;
  }
  .ico-nav i {
    height: 2px;
  }
  .ico-nav i:nth-child(4) {
    top: 20px;
  }
  #main main {
    height: 70vh !important;
  }
  main.subpage ~ section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #main .section05 .img_box {
    padding: 0;
  }
  #main .section05 .img_box img {
    width: 100%;
  }
  #main .section10 .new_wrap ul {
    display: inline-block;
  }
  #main .section10 .new_wrap ul li {
    width: 100%;
  }
  #main .section10 .new_wrap ul li:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 50px;
  }
  #main .section10 .new_wrap ul li a .text {
    margin-top: 10px;
  }
  #science main {
    background-position: center;
  }
  .list_type_01 {
    margin-top: 100px;
  }
  #science .tit_type_01:nth-child(4),
  #science .tit_type_01:nth-child(6) {
    margin-top: 100px;
  }
  #company .tit_type_01 {
    margin-top: 100px;
  }
  #company .tit_type_01 img {
    width: 100%;
  }
  #news .new_list {
    margin-top: 50px;
  }
  #news .new_list ul li {
    display: inline-block;
  }
  #news .new_list ul li .img_box {
    width: 100%;
    height: auto;
  }
  #news .new_list ul li .img_box img {
    width: 100%;
  }
  #news .new_list ul li .text_box {
    width: 100%;
    margin-top: 20px;
  }
  .people_list ul li {
    display: inline-block;
  }
  .people_list ul li .img_box {
    width: 100%;
  }
  .people_list ul li .text_box {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .people_list ul li .text_box h2 {
    margin-top: 10px;
  }
  .people_list ul li .text_box p {
    margin-top: 30px;
  }
  .table_type_01 table tbody tr th {
    padding: 5px 10px;
  }
  .list_type_01 ul {
    display: inline-block;
    width: 100%;
    padding: 30px;
  }
  .list_type_01 > ul > li:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 30px;
  }
  .infinite_content .infinite_wrap .infinite_box {
    width: 50%;
  }
  .infinite_content .icon_wrap div .icon_box i {
    width: 100%;
    height: 100%;
    background-size: 30px;
    background-position: 6px 13px;
  }
  .infinite_content .icon_wrap .data,
  .infinite_content .icon_wrap .treatment {
    top: -5px;
  }
  .infinite_content .icon_wrap > div {
    height: 26%;
  }
  .img_type_01 {
    margin-top: 100px;
  }
  .img_type_01 .img_box img {
    height: 200px;
  }
  .data_list {
    display: inline-block;
  }
  .data_list li {
    width: 100%;
  }
  .data_list li .tit {
    text-align: center;
  }
  .data_list li .img {
    margin-top: 10px;
    padding: 0 35px;
  }
  .data_list li:nth-child(n + 2) {
    margin-left: 0px;
    margin-top: 20px;
  }
  .video_box iframe {
    height: 400px;
  }
}

/* 모바일 360 이하 */
/* 모바일 세로*/
@media screen and (max-width: 360px) {
  body {
    border: 3px solid greenyellow;
  }

  :root {
    --font-size-h1: 24px;
    --font-size-h2: 20px;

    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sl: 14px;
    --font-size-sm: 10px;

    --font-height-h1: 30px;
    --font-height-h2: 28px;

    --font-height-lg: 24px;
    --font-height-md: 22px;
    --font-height-sl: 16px;
    --font-heightize-sm: 12px;
  }
  main.subpage ~ section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img_type_01 {
    margin-top: 50px;
  }
}
