* {
  box-sizing: border-box;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  word-break: keep-all;
  background: var(--color-primary);
  color: var(--color-light);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  position: relative;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.082);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: 000;
  background: var(--color-primary);
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #fff;
}

.content_box {
  width: 100%;
}

/* ======================= main ======================= */
#main main {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  animation: main_zoom 5s infinite alternate;
  position: relative;
}
#main main .wrap .main-tit {
  position: absolute;
  bottom: 150px;
}
#main main .wrap .main-tit h1 {
  font-size: var(--font-size-h1);
  line-height: var(--font-height-h1);
}
#main main .wrap .main-tit h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
  margin-top: 30px;
}

@keyframes main_zoom {
  0% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}

/* ======================= main page ========================= */
#main section .wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section 01 */
#main .section01 video {
  border: 1px solid floralwhite;
  width: 100%;
  border-radius: 60px;
}

/* section 02 */
#main .section02 {
  border: 1px solid darkblue;
}

/* section 03 */
#main .section03 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_02.jpg);
  background-repeat: no-repeat;
  vertical-align: top;
  object-fit: cover;
  background-size: cover;
  position: relative;
}
#main .section03 .wrap .imgbox_wrap {
  margin-top: 3%;
}
#main .section03 .wrap .imgbox_wrap li {
  display: flex;
  background-color: var(--color-primary);
  border-radius: 999px;
  height: 170px;
}
#main .section03 .wrap .imgbox_wrap li:nth-child(n + 2) {
  margin-top: 20px;
}
#main .section03 .wrap .imgbox_wrap li:nth-child(2n) .sub_text {
  text-align: right;
  padding: 35px 40px;
}
#main .section03 .wrap .imgbox_wrap li:nth-child(3) .sub_text {
  padding: 50px 40px;
}
#main .section03 .wrap .imgbox_wrap li .img {
  width: 100%;
  overflow: hidden;
  border-radius: 999px;
}
#main .section03 .wrap .imgbox_wrap li .img img {
  width: 100%;
  transform: translateY(-100px) scale(1);
}
#main .section03 .wrap .imgbox_wrap li .sub_text {
  padding: 50px;
  width: 100%;
}
#main .section03 .wrap .imgbox_wrap li .sub_text p {
  font-size: var(--font-size-md);
  font-weight: 500;
}
#main .section03 .wrap .imgbox_wrap li .sub_text span {
  display: inline-block;
  font-size: var(--font-size-sl);
  margin-top: 10px;
}
#main .section03 .wrap .imgbox_wrap li .sub_text span .tm_text {
  margin-right: 4%;
}

/*  section04 */
#main .section04 .grid_box {
  margin-top: 50px;
}
#main .section04 .wrap .grid_table_01 {
  margin-top: 5%;
  display: flex;
  align-items: center;
  gap: 20px;
}

/*  section05 */
#main .section05 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_08.jpg);
  background-repeat: no-repeat;
  vertical-align: top;
  object-fit: cover;
  background-size: cover;
  position: relative;
}
#main .section05 .img_box {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 0 40px;
}
#main .section05 .img_box img {
  width: 580px;
}
#main .section05 .img_box p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  margin-left: 50px;
  text-align: center;
}

/*  section06 */
#main .section06 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_09.jpg);
  background-repeat: no-repeat;
  vertical-align: top;
  object-fit: cover;
  background-size: cover;
  position: relative;
}

/* section 10 */
#main .section10 .new_wrap {
  width: 100%;
  margin-top: 10%;
}
#main .section10 .new_wrap ul {
  display: flex;
}
#main .section10 .new_wrap ul li {
  width: 33.33%;
}
#main .section10 .new_wrap ul li:nth-child(n + 2) {
  margin-left: 50px;
}
#main .section10 .new_wrap ul li a {
  color: #fff;
}
#main .section10 .new_wrap ul li a .img img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background-color: #d1d5db;
}
#main .section10 .new_wrap ul li a .text {
  margin-top: 20px;
}
#main .section10 .new_wrap ul li a .text p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
}
#main .section10 .new_wrap ul li a .text span {
  display: inline-block;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* ======================= sub page ========================= */
main.subpage {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
main.subpage .wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.subpage h1 {
  font-size: var(--font-size-h1);
  line-height: var(--font-height-h1);
}

main.subpage ~ section {
  padding-top: 120px;
  padding-bottom: 200px;
}

/* human */
#human main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_09.jpg);
}

/* science */
#science main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_13.jpg);
}
#science .tit_type_01:nth-child(4),
#science .tit_type_01:nth-child(6) {
  margin-top: 10%;
  margin-bottom: 4%;
}
#science .data_list {
  margin-top: 5%;
}

/* company */
#company main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_15.jpg);
}
#company section {
  padding-top: 0;
}

/* platform */
#platform main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_04.jpg);
}
#platform section {
  padding-top: 0;
}

/* contact */
#contact main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_17.jpg);
}
#contact .map_list ul {
  display: flex;
}
#contact .map_list ul li:last-child {
  margin-left: 40px;
}
#contact .map_list ul li p {
  margin-top: 30px;
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
  text-align: center;
  font-weight: 700;
}
#contact .map_list ul li iframe {
  border-radius: 30px;
}
#contact .table_type_01 {
  margin-top: 10%;
}

/* news */
#news main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main/img_16.jpg);
}
#news .new_list {
  display: inline-block;
  margin-top: 5%;
}
#news .new_list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 30px;
}
#news .new_list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#news .new_list ul li .img_box {
  border: 1px solid double;
  width: 200px;
  height: 200px;
}
#news .new_list ul li .img_box img {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
}
#news .new_list ul li .text_box {
  width: calc(100% - 250px);
}
#news .new_list ul li .text_box p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
}
#news .new_list ul li .text_box > span {
  display: inline-block;
  margin-top: 10px;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
}
#news .new_list ul li .text_box > .btn-01 {
  margin-top: 20px;
}
