/*======================= header======================= */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  height: 8rem;
  transition: all 200ms linear;
}
header .wrap {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms linear;
}
.logo-box {
  display: flex;
  align-items: center;
  height: 8rem;
}
.logo-box a {
  display: inline-block;
}

/*======================= nav ======================= */
nav {
}
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 99px;
  padding: 0 30px;
}
nav > ul > li:nth-child(n + 2) {
  margin-left: 60px;
}
nav > ul > li > a {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  text-align: center;
  z-index: 1;
  transition: 250ms ease all;
  padding: 7px 0;
  color: var(--color-primary);
}
nav > ul > li > a:hover {
  color: var(--color-point);
  font-weight: 700;
}

/*======================= footer ======================= */
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  padding-top: 0 !important;
}
footer {
  background-color: var(--color-light);
  padding: 4% 0;
}
footer .wrap {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

/*======================= tit_type ======================= */
.tit_type_01 {
  text-align: center;
}
.tit_type_01 h3 {
  font-size: var(--font-size-h3);
  line-height: var(--font-height-h3);
}
.tit_type_01 h4 {
  font-size: var(--font-size-h4);
  line-height: var(--font-height-h4);
}
.tit_type_01 p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  margin-top: 30px;
}
