/*======================= header======================= */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  height: 8rem;
  transition: all 200ms linear;
}
header .wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms linear;
}
.logo-box {
  display: flex;
  align-items: center;
  height: 8rem;
}
.logo-box a {
  display: inline-block;
}
.logo-box a img {
  width: 100px;
  padding: 10px 0;
}

/*======================= nav ======================= */
nav {
  display: inline-block;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 99px;
  padding: 0 30px;
}
nav > ul > li:nth-child(n + 2) {
  margin-left: 60px;
}
nav > ul > li > a {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  text-align: center;
  z-index: 1;
  transition: 250ms ease all;
  padding: 7px 0;
  color: var(--color-primary);
}
nav > ul > li > a.active {
  color: var(--color-point);
  font-weight: 700;
}
nav > ul > li > a:hover {
  color: var(--color-point);
  font-weight: 700;
}

/*======================= footer ======================= */
footer {
  background-color: var(--color-light);
  padding: 3% 0 !important;
  display: flex;
  color: var(--color-primary);
}
footer .wrap {
  width: 100%;
}
footer .wrap .content_box {
  display: flex;
  justify-content: space-between;
}
footer .wrap .content_box:nth-child(n + 2) {
  margin-top: 80px;
}
footer .wrap .logo_box img {
  width: 160px;
}
footer .wrap .ft_info ul {
  display: flex;
}
footer .wrap .ft_info ul li:nth-child(n + 2) {
  margin-left: 50px;
}
footer .wrap .ft_info ul li a {
  display: inline-block;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  color: var(--color-primary);
}
footer .wrap .ft_info ul li a:hover {
  color: var(--color-point);
}

footer .wrap .ft_info .text {
  margin-top: 50px;
}
footer .wrap .ft_info .text p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  color: var(--color-primary);
}
footer .wrap .sub_link span {
  display: inline-block;
  padding: 0px 20px;
}

/*======================= tit_type ======================= */
.tit_type_01 {
  text-align: center;
}
.tit_type_01 h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
}
.tit_type_01 p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  margin-top: 30px;
}

/*  img_type_01  */
.img_type_01 {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: 10%;
}
.img_type_01 div:first-child {
  margin-right: 50px;
}
.img_type_01 .img_box {
  width: 60%;
}
.img_type_01 .img_box img {
  display: inline-block;
  width: 100%;
  height: 450px;
  object-fit: contain;
  border-radius: 20px;
}
.img_type_01 .txt_box {
  width: 40%;
}
.img_type_01 .txt_box h3 {
  font-size: var(--font-size-lg);
  line-height: var(--font-height-lg);
}
.img_type_01 .txt_box p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
}
.img_type_01 .txt_box p:nth-child(n + 2) {
  margin-top: 30px;
}

/* list_box */
.list_box {
  display: flex;
}
.list_box li {
  width: 50%;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #a1a1a1;
}
.list_box li p {
  color: #a1a1a1;
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
}
.list_box li.active {
  border-bottom: 3px solid #fff;
}
.list_box li.active p {
  color: #fff;
  font-weight: 700;
}
.list_content_box {
  border: 1px solid red;
  margin-top: 10%;
}
.list_content_box > div {
  display: none;
}
.list_content_box > div.show {
  display: block;
}

/* list_type_01 */
.list_type_01 {
  display: inline-block;
  margin-top: 10%;
}
.list_type_01 > ul {
  display: flex;
  align-items: center;
}
.list_type_01 > ul > li {
  border: 1px solid #fff;
  text-align: center;
  width: 270px;
  height: 270px;
  position: relative;
  border-radius: 999px;
  padding: 80px 0;
}
.list_type_01 > ul > li:nth-child(n + 2) {
  margin-left: 30px;
}
.list_type_01 > ul > li p {
  font-size: var(--font-size-lg);
  line-height: var(--font-height-lg);
  font-weight: 700;
}
.list_type_01 > ul > li span {
  display: inline-block;
  margin-top: 20px;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
}

/* ======================= table_type ======================= */
.table_type_01 {
  display: flex;
  justify-content: center;
}
.table_type_01 table {
  width: 70%;
  border: 1px solid #fff;
  border-radius: 20px;
}
.table_type_01 table tbody tr {
  padding: 10px 20px;
}
.table_type_01 table tbody tr th {
  width: 25%;
  padding: 5px 20px;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.table_type_01 table tbody tr td {
  padding: 18px 20px;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  border-bottom: 1px solid #fff;
}
.table_type_01 table tbody tr:last-child th {
  border-bottom: 0;
}
.table_type_01 table tbody tr:last-child td {
  border-bottom: 0;
}

/*======================= data list ======================= */
.data_list {
  display: flex;
  width: 100%;
  margin-top: 10%;
}
.data_list li {
  width: 25%;
}
.data_list li:nth-child(n + 2) {
  margin-left: 30px;
}
.data_list li .tit p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  font-weight: 700;
}
.data_list li .img {
  margin-top: 20px;
  height: calc(100% - 45px);
}
.data_list li .img a {
  display: inline-block;
  width: 100%;
}
.data_list li .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*======================= grid_type ======================= */
.grid_type_01 {
  width: 80%;
  height: 260px;
  background-color: var(--color-light);
  color: var(--color-primary);
  border-radius: 20px;
  padding: 30px 20px 30px 20px;
  position: relative;
}
.grid_type_01::after {
  content: "";
  width: 85px;
  height: 4px;
  display: inline-block;
  position: absolute;
  right: -64px;
  top: 50%;
  background: #fff;
}
.grid_type_01 .tit {
  display: flex;
  align-items: center;
}
.grid_type_01 .tit .icon_box {
  width: 80px;
  height: 80px;
  position: relative;
}
.grid_type_01 .tit .icon_box i {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: cover;
}
.grid_type_01 .tit .icon_box i.ico_cardiology {
  background-image: url(../../img/common/icon/icon_cardiology.png);
}
.grid_type_01 .tit .icon_box i.icon_planner {
  background-image: url(../../img/common/icon/icon_planner.png);
}
.grid_type_01 .tit span {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  font-weight: 700;
  margin-left: 10px;
}
.grid_type_01 .sub {
  margin-top: 10px;
}
.grid_type_01 .sub p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
}
/* grid_type_02 */
.grid_type_02 {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
}
.grid_type_02::after {
  content: "";
  width: 70px;
  height: 4px;
  display: inline-block;
  position: absolute;
  right: -20px;
  top: 50%;
  background: #fff;
}
.grid_type_02 .tit {
  background-color: var(--color-light);
  border-radius: 10px;
  padding: 10px 20px;
}
.grid_type_02 .tit p {
  font-size: var(--font-size-lg);
  line-height: var(--font-height-lg);
  color: var(--color-primary);
  font-weight: 700;
}
.grid_type_02 .sub {
  position: absolute;
  top: 70px;
  text-align: center;
}
.grid_type_02 .sub p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  font-weight: 700;
}
.grid_type_02 .sub span {
  display: inline-block;
  margin-top: 10px;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
}
/* grid_type_03 */
.grid_type_03 {
  width: 100%;
  margin-left: 30px;
  position: relative;
}
.grid_type_03::after {
  content: "";
  width: 4px;
  height: calc(100% - 41px);
  display: inline-block;
  position: absolute;
  left: -30px;
  top: 22px;
  background: #fff;
}
.grid_type_03 .box {
  padding: 10px 30px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.grid_type_03 .box::after {
  content: "";
  width: 30px;
  height: 4px;
  display: inline-block;
  position: absolute;
  left: -30px;
  top: 50%;
  background: #fff;
}
.grid_type_03 .box p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  color: #000;
  font-weight: 500;
}
.grid_type_03 .box:nth-child(n + 2) {
  margin-top: 30px;
}

/*======================= infinite_content ======================= */
.infinite_content {
  position: relative;
}
.infinite_content .infinite_wrap {
  display: flex;
  margin: 0 20%;
  margin-top: 10%;
}
.infinite_content .infinite_wrap .infinite_box {
  width: 40%;
  margin: 0 auto;
}
.infinite_content .infinite_wrap .infinite_box .infinite {
  padding-top: 100%;
  width: 100%;
  height: 100%;
  border-radius: 100% 60% 100% 100%;
  transform: rotate(45deg);
  margin: 0px;
  background: #d1d5db;
  position: relative;
  transition: background 0.5s ease-out;
}
.infinite_content .infinite_wrap .infinite_box .infinite::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100% 60% 100% 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.infinite_content .infinite_wrap .infinite_box .infinite::after {
  content: "";
  width: 60%;
  height: 60%;
  border-radius: 100% 0% 100% 100%;
  background-color: #1f2937;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.infinite_content .infinite_wrap .infinite_box:nth-child(2) .infinite {
  transform: rotate(225deg);
}
.infinite_content .infinite_wrap:hover .infinite {
  background: linear-gradient(
    var(--rotate),
    #106ab7,
    #0c518d,
    #ff9050,
    #ff7866
  );
  animation: spin 5.5s linear infinite;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.infinite_content .icon_wrap > div {
  position: absolute;
  width: 8%;
  height: 33%;
  background: #fff;
  border-radius: 50%;
}
.infinite_content .icon_wrap .data {
  top: -10px;
  left: 30%;
}
.infinite_content .icon_wrap .treatment {
  top: -10px;
  right: 30%;
}
.infinite_content .icon_wrap .care {
  bottom: -10px;
  left: 30%;
}
.infinite_content .icon_wrap .diagnosis {
  bottom: -10px;
  right: 30%;
}
.infinite_content .icon_wrap .logoCenter {
  position: absolute;
  top: 50%;
  transform: translate(-424%, -50%);
}
.infinite_content .icon_wrap .logoCenter i {
  background-image: url(../../img/common/logo_01.png);
  display: inline-block;
  width: 80%;
  height: 45%;
  background-repeat: no-repeat;
  vertical-align: top;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.infinite_content .icon_wrap div .icon_box {
  width: 100%;
  height: 100%;
}
.infinite_content .icon_wrap div .icon_box i {
  display: inline-block;
  width: 60%;
  height: 60%;
  background-repeat: no-repeat;
  vertical-align: top;
  background-size: contain;
  padding: 30px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.infinite_content .icon_wrap div span {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: var(--font-size-sm);
  margin-top: 10px;
}
.infinite_content .icon_wrap .care span,
.infinite_content .icon_wrap .diagnosis span {
  position: absolute;
  top: -34px;
}
.infinite_content .infinite_wrap:hover .icon_wrap .data {
  background-color: var(--color-point);
}
.infinite_wrap:hover .icon_wrap div .icon_box .icon_planner_g {
  background-image: url(../../img/common/icon/icon_planner_w.png);
}
.infinite_wrap:hover .icon_wrap div .icon_box .icon_medical_g {
  background-image: url(../../img/common/icon/icon_medical_w.png);
}
.infinite_wrap:hover .icon_wrap div .icon_box .icon_partner_g {
  background-image: url(../../img/common/icon/icon_partner_w.png);
}
.infinite_wrap:hover .icon_wrap div .icon_box .icon_prescriptions_g {
  background-image: url(../../img/common/icon/icon_prescriptions_w.png);
}
.infinite_content .infinite_wrap:hover .icon_wrap .treatment {
  background-color: #ff9050;
}
.infinite_content .infinite_wrap:hover .icon_wrap .care {
  background-color: #ff9050;
}
.infinite_content .infinite_wrap:hover .icon_wrap .diagnosis {
  background-color: var(--color-point);
}
