/*======================= header======================= */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  height: 8rem;
  transition: all 200ms linear;
}
header .wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms linear;
}
.logo-box {
  display: flex;
  align-items: center;
  height: 8rem;
}
.logo-box a {
  display: inline-block;
}
.logo-box a img {
  width: 120px;
  padding: 10px 0;
}

/*======================= nav ======================= */
nav {
}
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 99px;
  padding: 0 30px;
}
nav > ul > li:nth-child(n + 2) {
  margin-left: 60px;
}
nav > ul > li > a {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  text-align: center;
  z-index: 1;
  transition: 250ms ease all;
  padding: 7px 0;
  color: var(--color-primary);
}
nav > ul > li > a:hover {
  color: var(--color-point);
  font-weight: 500;
}

/*======================= footer ======================= */
footer {
  background-color: var(--color-light);
  padding: 3% 0 !important;
  display: flex;
  color: var(--color-primary);
}
footer .wrap {
  width: 100%;
}
footer .wrap .content_box {
  display: flex;
  justify-content: space-between;
}
footer .wrap .content_box:nth-child(n + 2) {
  margin-top: 80px;
}
footer .wrap .logo_box img {
  width: 200px;
}
footer .wrap .ft_info ul {
  display: flex;
}
footer .wrap .ft_info ul li:nth-child(n + 2) {
  margin-left: 50px;
}
footer .wrap .ft_info ul li a {
  display: inline-block;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  color: var(--color-primary);
}
footer .wrap .ft_info ul li a:hover {
  color: var(--color-point);
}

footer .wrap .ft_info .text {
  margin-top: 50px;
}
footer .wrap .ft_info .text p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  color: var(--color-primary);
}
footer .wrap .sub_link span {
  display: inline-block;
  padding: 0px 20px;
}

/*======================= tit_type ======================= */
.tit_type_01 {
  text-align: center;
}
.tit_type_01 h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
}
.tit_type_01 p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  margin-top: 30px;
}

.data_list {
  display: flex;
  width: 100%;
  margin-top: 10%;
}
.data_list li {
  width: 25%;
}
.data_list li:nth-child(n + 2) {
  margin-left: 30px;
}
.data_list li .tit p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  font-weight: 700;
}
.data_list li .img {
  margin-top: 20px;
  height: calc(100% - 45px);
}
.data_list li .img a {
  display: inline-block;
  width: 100%;
}
.data_list li .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
